/* Footer
===================*/

/* main */
.footer {
    background-color: #191919;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 76px 0;

    margin: 0 -15px;
}

/* item */
.footer__item {
    width: 25%;
    padding: 0 15px;
}

.footer__item_order_1 {
    order: 1;
}

.footer__item_order_2 {
    order: 2;
}

.footer__item_order_3 {
    order: 3;
}

.footer__item_order_4 {
    order: 4;
}

.footer__post {
    display: block;
    text-decoration: none;
}

/* item - title */
.footer__title {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    margin: 25px 0 20px 0;
}

/* item - text */
.footer__text {
    font-weight: 300;
    line-height: 1.58;
    color: #555555;

    margin: 0;

    transition: all .2s linear;
}

.footer__text_margin-b-t_25 {
    margin: 25px 0;
}

.text-link {
    color: #959595;
    transition: all .2s linear;
}

/* item - date-time */
.footer__data-time {
    font-size: 12px;
    font-weight: 300;
    color: #363636;
    margin-bottom: 4px;

    transition: all .2s linear;
}

/* item - underline */
.underline_thin {
    width: 100%;
    border-bottom: 1px solid #363636;
    margin: 20px 0 15px;
}


/* Item 1 - Read Me Link */
.read-link_white {
    color: #d1d1d1;
    transition: all .2s linear;
}

.read-link_white:hover {
    color: #c7b299
}


/* Item 4 - Photo block */
.footer__photo-block {
    display: flex;
    flex-wrap: wrap;

}

.footer__img {
    display: block;
    width: 50%;
    height: auto;

    padding: 0 5px;
    margin-bottom: 10px;
}

.footer__img:nth-child(odd) {
    padding-left: 0;
}

.footer__img:nth-child(even) {
    padding-right: 0;
}

/* copyright
===================*/
.copyright {
    background: #111111;
    padding: 42px 0;
}

.copyright__inner {
    display: flex;
    justify-content: space-between;
}

.copyright__group {
    display: flex;
}

.copyright__text {
    font-size: 13px;
    font-weight: 300;
    color: #555555;
    cursor: default;
}

.copyright__text_margin-r_0{
    margin-right: 0;
}

.copyright__link {
    text-decoration: none;
    color: #555555;
    transition: all .2 linear;
}

.copyright__link_white {
    color: #959595;
}

/* Animation */

/* footer */
.footer__post:hover .footer__text_gold{
    color: #c7b299;
}

.footer__post:hover .footer__data-time_white {
    color: #ffff;
}

.footer__post:hover .text-link_white{
    color: #ffff;
}

.footer__post:hover .text-link_blue {
    color: #00bff3;
}

/* copyright block */
.copyright__link:hover {
    color: #c7b299;
}