/* Header
===================*/

.header {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 40px 0;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__img {
    display: block;
    width: 64px;
    height: 56px;
}

.logo__name {
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-style: 500;
    margin: 0;
}

/* Nav
===================*/

.nav {
    display: flex;
}

.nav__inner {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav__inner li {
    margin-right: 25px;
    transition: all 0.3s linear;
}

.nav__inner li._active .nav__link {
    color: #c0b199;
}

.nav__link {
    margin-left: 28px;
    font-style: lighter;

    color: #fff;
    text-decoration: none;

    transition: all .3s ease;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {
    color: #c0b199;
}

/* Right Buttons
===================*/

.right__nav__buttons {
    position: relative;

    margin-right: 0;
    display: flex;

    align-items: center;
}

.cart__button {
    display: block;
    height: 24px;
    width: 18px;
    transition: all .1s linear;

    margin-right: 25px;
}

.cart__button_gold {
    background: url(../img/Header/icon-cart.png);
}

body._pc .cart__button_gold:hover {
    background: url(../img/Header/icon-cart-gold.png);
}

.search__button {
    display: block;
    height: 24px;
    width: 24px;
    transition: all .1s linear;
    cursor: pointer;
}

.search__button_gold {
    background: url(../img/Header/icon-search.png);
}

.search__button_active  {
    background: url(../img/Header/icon-search-gold.png);
}

body._pc .search__button_gold:hover {
    background: url(../img/Header/icon-search-gold.png);
}

/* Search Box
===================*/

.search-box {
    display: none;
    position: absolute;
    top: 42px;
    right: 0%;
    background: rgba(0, 0 , 0, 0.8);
    border-radius: 5px;
    width: 200px;
}

.search-box_active {
    display: flex;
}

.search-box input {
    background: transparent;
    color:rgb(227, 226, 226);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;

    border: none;
    padding: 5px;

    width: 100%;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: auto;
}

input:focus {
    outline: none;
}

.search-button {
    background-color: transparent;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}


/* Burger
===================*/

.header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
}

.header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;

    transition: all .3s ease;
}

.header__burger:before,
.header__burger:after {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;

    transition: all .3s ease;
}

.header__burger:before {
    top: 0;
}

.header__burger:after {
    bottom: 0;
}

.header__burger._active span {
    transform: scale(0) translate(0px, -50%);
}

.header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);

}

.header__burger._active::after {
   bottom: 50%;
   transform: rotate(45deg) translate(0px, 50%);
}


/* Header-Fixed
===================*/
.header-fixed {
    position: fixed;
    height: 80px;
    background: #555555 url("../img/header-bg.jpg") center no-repeat;
    background-size: cover;

    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, .7);
}

.header-fixed .header__inner {
    padding: 12px 0;
}



