/* Ideas
===================*/
.ideas {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fbfaf8;

    padding-top: 70px;
}

.ideas__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1260px;

    align-items: center;

}

.ideas__immages {
    width: 100%;
    position: relative;
    max-height: 482px;
    overflow: hidden;
    bottom: -0.5px;
}

.front {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 0 15px;
}

.main__image {
    display: block;
    max-width: 100%;
}

.left__back {
    display: block;
    max-height: 400px;
    position: absolute;
    bottom: -1px;
    left: 15px;
    z-index: 1;

}

.right__back {
    display: block;
    max-height: 400px;
    position: absolute;
    bottom: -1px;
    right: 15px;
    z-index: 1;


}
