body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    overflow-x: hidden;
}

body._lock {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;

    margin-bottom: 25px;
}

.text {
    max-width: 770px;
    text-align: center;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: #8c8c8c;

    padding: 0 15px;
    margin-bottom: 35px;
}