@media (max-width: 1180px) {

    /* Services */
    .services__item {
        width: 50%;
    }
    .services__item:nth-child(1){
        height: 230px;
    }
    .services__item:nth-child(2){
        height: 230px;
    }
    .services__text {
        padding: 0 25px;
    }

}

/* Only for Mobile part */
@media (max-width: 1167px) {
    /* Mobile */
    .mobile__picture {
        width: 0;
    }

    .mobile__text-block {
        width: 100%;
    }

    .mobile__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }

    .mobile__background {
        opacity: 0.08;
    }

    .mobile__title {
        text-align: center;
    }

    .mobile__text{
        text-align: center;
        color: #737373;
    }

    .mobile__list {
        text-align: left;
        padding: 0;
    }

    .mobile__text-list {
        color: #737373;
    }
}

@media (max-width: 991px) {
    /* Header */
    .header {
        /* height: 80px; */
        height: 70px;
        position: fixed;
    }

    .header__inner {
        /* padding: 12px 0; */
         padding: 7px 0;
    }

    .logo__name {
        color: #8c8c8c;
    }

    .logo__img {
        background: url(../img/Header/logos-grey.svg);
    }

    .cart__button {
        background: url(../img/Header/icon-cart-grey.svg);
    }

    .search__button {
        background: url(../img/Header/icon-search-grey.svg);
    }

    .nav {
        display: block;
        position: absolute;
        right: 0;
        top: -650%;
        /* top: -590%; */
        width: 100%;

        height: auto;
        overflow: auto;

        background: rgba(0, 0, 0, 0.9);

        text-align: right;

        transition: all 0.2s ease;

        padding-top: 70px;
        /* padding-top: 80px; */
        padding-right: 30px;
        z-index: -1;
    }

    .nav::before {
        content: '';
        position: fixed;
        z-index: 2;
        width: 100%;
        top: 0;
        right: 0;
        /* height: 80px; */
        height: 70px;
        background-color: #ffff;

        -webkit-background-color: #ffff;
        -webkit-content: '';

        box-shadow: 0 0px 30px 0 rgba(0, 0, 0, .7);
    }

    .nav._active {
        top: 0;
    }

    .nav__inner {
        flex-direction: column;
    }

    .nav__inner li {
        padding: 15px 0;
        margin-right: 0;
    }

    .nav__link {
        font-size: 18px;
    }

    .search__button {
        margin-right: 25px;
    }

    .header__burger {
        display: block;
    }

    .cart-contents  {
        top: 60px;
    }

    .search-box {
        top: 60px;
    }

    /* Intro */

    /* Intro-swiper */
    section .intro-swiper .swiper-button-prev {
        left: 25px;
    }

    section .intro-swiper .swiper-button-next {
        right: 25px;
    }


    /* Services */
    .services__item:nth-child(1){
        height: 250px;
    }
    .services__item:nth-child(2){
        height: 250px;
    }

    /* Latest Projects */
    .projects__item {
        width: 50%;
    }

    .left__back {
        display: none;
    }
    .right__back {
        display: none;
    }

    /* Purchase */
    .purchase__title {
        font-size: 25px;
    }

    /* Counters */
    .counters__value {
        font-size: 40px;
    }

    .counters__name {
        font-size: 13px;
    }

    /* Footer */
    .footer__inner {
        padding: 30px 0;
    }

    .logo__name_font-size_small {
        font-size: 30px;
    }

    .footer__item {
        width: 50%;
    }

    .footer__item_order_2 {
        order: 4;
    }

    .footer__item_order_4 {
        order: 2;
    }

    .copyright {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .copyright__group-left {
        display: none;
    }

}

@media (max-width: 767px) {
    /* Intro */

    .intro__overtitle {
        font-size: 26px;
    }
    .intro__title {
        font-size: 42px;
    }

    /* Services */
    .services__text {
        padding: 0 15px;
    }

    /* Ideas */
    .ideas__text {
        padding: 0 30px;
    }

    /* Purchase */
    .purchase__title {
        font-size: 20px;
    }

    .purchase__subtitle {
        font-size: 14px;
    }

    /* Counters */
    .counters__value {
        font-size: 35px;
    }

    .counters__name {
        font-size: 12px;
    }

    /* Partners */

    .partners__item {
        width: 50%;
    }

    .partners__item:nth-child(1), .partners__item:nth-child(2) {
        margin-bottom: 100px;
    }

}

@media (max-width: 630px) {
    /* Services */
    .services__item {
        width: 100%;
    }

    .services__item:nth-child(3){
        height: 250px;
    }
    /* .services__item:nth-child(4){
        height: 250px;
    } */

    /* Purchase */
    .purchase__inner {
        flex-direction: column;
        text-align: center;
    }
    .purchase__text {
        width: 100%;
    }
    .purchase__subtitle {
        margin-bottom: 20px;
    }
    .purchase__button {
        text-align: center;
        width: 100%;
    }

    /* Latest Projects */

    .project__name {
        font-size: 14px;
    }
    .project__theme {
        font-size: 12px;
    }

    /* Counters */
    .counters__item {
        width: 33.33333%;
        margin-bottom: 50px;
    }

    .counters__item:nth-child(4) {
        margin-bottom: 0;
    }
    .counters__item:last-child {
        margin-bottom: 0;
    }

}

@media (max-width: 480px) {
    /* Main */
    .title {
        font-size: 25px;
    }
    .text {
        font-size: 15px;
    }

    /* Header */
    .logo__name_display_none {
        display: none;
    }
    .intro__overtitle {
        font-size: 20px;
    }
    .intro__title {
        font-size: 35px;
    }

    /* Latest Projects */
    .projects__item {
        width: 100%;
    }

    .projects__item:nth-child(1n+4) {
        margin-bottom: 30px;
    }
    .projects__item:last-child {
        margin-bottom: 0;
    }
    .project__name {
        font-size: 20px;
    }
    .project__theme {
        font-size: 14px;
    }

    /* Mobile */
    .mobile__list {
        padding-left: 0;
    }

    .mobile__text-list {
        font-size: 15px;
    }

    .counters__item {
        width: 50%;
        margin-bottom: 50px;
    }

    .counters__item:nth-child(4) {
        margin-bottom: 0;
    }

    .counters__item:last-child {
        margin-bottom: 0;
    }

    /* Partners */
    .partners__inner {
        padding: 80px 0;
    }

    .partners__item {
        width: 100%;
    }

    .partners__item:nth-child(3) {
        margin-bottom: 100px;
    }

    .partners__item:nth-child(4) {
        margin-bottom: 0;
    }

    /* Footer */
    .footer__item {
        width: 100%;
    }

    .copyright__group {
        flex-direction: column;
    }

    .side-line {
        display: none;
    }

}

@media (max-width: 320px) {
    /* Intro */
    .intro__overtitle {
        font-size: 16px;
    }
    .intro__title {
        font-size: 28px;
    }
    .intro__text {
        font-size: 12px;
    }

    /* Ideas */

    .ideas__title {
        padding: 0 15px;
    }

    /* Mobile */

    .mobile__text {
        font-size: 14px;
    }

    .mobile__text-list {
        font-size: 14px;
    }

    /* Latest projects */
    .project__name {
        font-size: 18px;
    }
    .project__theme {
        font-size: 12px;
    }

}