/* Mobile
===================*/

.mobile {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.mobile__picture {
    width: 40%;
    position: relative;
    height: 695px;
}

.mobile__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

}

.mobile__description {
    width: 60%;
    padding: 193px 0 0 30px;
}

.mobile__title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 35px;
}

.mobile__text {
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    margin-bottom: 42px;
    line-height: 1.7;
}

.mobile__list {
    padding-left: 43px;
}

.mobile__item {
    display: flex;
    margin-bottom: 10px;
}

.mobile__item:last-child {
    margin-bottom: 0;
}

.mobile__point {
    width: 21px;
    height: 21px;
}

.text {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    padding-left: 30px;
}