/* Partners
===================*/

.partners {
    background: #181818 url(../img/Content/Partners/background-photo.jpg) center no-repeat;
    background-size: cover;
}

.partners__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 140px 0;
    align-items: center;

}

.partners__item {
    display: flex;
    justify-content: center;
    width: 25%;

    padding: 0 15px;
}

.partners__logo {
    display: block;
    width: 100%;
    max-width: 211px;
    height: auto;
}