/* Latest projects
===================*/

/* main */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 70px 0;
}

.projects__title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
    color: #555555;
}

.projects__subtitle {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0 70px;
    line-height: 1.75;
}


/* buttons */
.projects__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__buttons__item{
    margin-right: 10px;
    margin-bottom: 10px;
}


.projects__area {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0 40px 0;
    margin: 0 -15px;
}

/* item */
.projects__item {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
    transform: scale(0);
    transition: all 0.5s ease;

    display: none;

}

.projects__item._active {
    display: block;
    transform: scale(1);

}

.projects__empty {
    display: none;
    width: 100%;
    text-align: center;
}

.projects__empty__text {
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
}

.projects__empty._active {
    display: block;
}

.projects__item:nth-child(1n+4) {
    margin-bottom: 0;
}

.projects__photo {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.projects__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.projects__hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    background-color: rgba(17, 17, 17, .7);
    opacity: 0;

    transition: all .2s linear;
}

.icon_link {
    display: block;
    width: 26px;
    height: 26px;

    margin: 0 14px;
    transition: all .2s linear;
}

.icon_lupa {
    display: block;
    width: 26px;
    height: 25px;
    margin: 0 14px;

    transition: all .2s linear;
}


.project__info {
    padding: 30px 0 30px 8.1%;
    margin: 0;
    max-width: 100%;

    text-align: left;

    transition: all .2s linear;
}

.arrow__figure {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    position: absolute;
    bottom: 0;
    left: 20px;

    transition: all .2s linear;
}

.project__name {
    margin-bottom: 7px;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;

    transition: all .2s linear;
}

.project__theme {
    margin: 0;

    font-weight: 300;
    transition: all .2s linear;
}


/* animation */
.projects__item:hover .projects__hover {
    opacity: 1;
}

.project__info__colored {
    background-color: #fbfaf8;
}

.projects__item:hover .project__info__colored {
    background-color: #362f2d;
}

.arrow__figure_brown {
    border-bottom: 10px solid #fbfaf8;
}

.projects__item:hover .arrow__figure_brown {
    border-bottom: 10px solid #362f2d;
}

.project__name_white {
    color: #c7b299;
}

.projects__item:hover .project__name_white {
    color: #ffff;
}


.project__theme_gold {
    color: #d1d1d1;
}

.projects__item:hover .project__theme_gold {
    color: #c7b299;
}

.icon_link_gold {
    background: url(../img/Content/Latest_Projects/link.png);
}

.icon_lupa_gold {
    background: url(../img/Content/Latest_Projects/lupa.png);
}

.icon_link_gold:hover {
    background: url(../img/Content/Latest_Projects/link-gold.png);
}

.icon_lupa_gold:hover {
    background: url(../img/Content/Latest_Projects/lupa-gold.png);
}

/* button */
.projects__btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 16px;

    border-radius: 5px;
    cursor: pointer;

    font-weight: 300;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.projects__btn._active {
    background-color: #998675;
    color: #fff;
}

.projects__btn--gold {
    border: 1px #ebebeb solid;
    background-color: #fff;
    color: #8c8c8c;
}

.projects__btn--gold:hover {
    border: 1px #ffffff solid;
    background-color: #998675;
    color: #fff;
}

.projects__btn--all {
    padding: 8px 25px;
}