body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header
===================*/

.header {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.header__logo {
    display: flex;
    height: 57px;
    width: 185px;
    margin: 0;

}

.logo__name {
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-style: 500;
    padding: 7px 0 10px;
}

/* Nav
===================*/
.nav {
    display: flex;
}


.nav__link {
    margin-left: 28px;
    font-style: lighter;

    color: #fff;
    text-decoration: none;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {
    color: #c0b199;
}

.right__nav__buttons {
    margin-top: 5px;
    margin-right: 0;
    display: flex;
}

.cart__button {
    margin-right: 25px;
}

/* Intro
===================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1024px;
    background: #4b4a46 url("../img/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}

.intro__overtitle {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-weight: 500;
}

.intro__title {
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-weight: 800;
    margin-bottom: 15px;
}

.intro__inner p {

    padding: 0 25px;

    color:#fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 45px;
}


/* Button
===================*/

.btn {
    width: 170px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 17px;

    border-radius: 5px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.btn--gold {
    background-color: #928575;
    box-shadow: 0 3px 0 #6e6358;
}

.btn--gold:hover {
    background-color: #807364;
    box-shadow: 0 3px 0 #534b42;
}

/* Services
===================*/

.services {
    display: flex;
    padding: 80px 0;
}

.services__inner {
    width: 25%;
    height: 215px;
    position: relative;
    margin: 0 10px;
}

.services__inner:first-child {
    margin-left: 2px;
}

.services__inner:last-child {
    margin-right: 2px;
}

.services__item {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.services__link__back {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;

    text-decoration: none;
    transition: all .3s linear;
    opacity: 0;
}

.services__icon {
    height: 44px;
    margin-bottom: 25px;
}

.services__title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.services__text {
    font-weight: 300;
    line-height: 1.7;
    color: #8c8c8c;
    padding: 0;
    margin-bottom: 25px;
}

.underline {
    display: block;
    width: 70px;
    margin: 0 auto;
    border-bottom: 3px solid #f0ede9;
}


.services__link__back .services__title {
    color: #c0b199;
}

.services__link__back .underline {
    border-bottom: 3px solid #c0b199;
}

.services__link__back:hover {
    opacity: 1;
}

/* Ideas
===================*/
.ideas {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fbfaf8;
}

.ideas__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1230px;
}

.ideas__title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 65px 0 35px;
}

.ideas__text {

    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    padding: 0 200px;

    margin-bottom: 35px;
}

.ideas__immages {
    position: relative;
    max-height: 482px;
    overflow: hidden;

}

.front {
    position: relative;
    z-index: 2;
}

.left__back {
    max-height: 400px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
}

.right__back {
    max-height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* Purcahse
===================*/

.purchase {
    background: linear-gradient(to right,#211b19, #4e3427);
}

.purchase__inner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

.purchase__text {
    width: 70%;
    display: inline;
    margin: 0 2px;
}

.purchase__button {
    display: inline;
    width: 30%;
    margin: 0 5px;
    text-align: right;
}

.purchase__title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
}

.purchase__coloredtext {
    color: #c7b299;
}

.purchase__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #615855;
    margin-bottom: 0;
}

/* Latest projects
===================*/

.projects__inner {
    width: 100%;
    text-align: center;
    padding: 75px 0;

}

.projects__title {
    margin: 0 0 20px;
}

.projects__title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.projects__subtitle {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0 70px;
}

.projects__buttons {
    display: flex;
    justify-content: center;
}

.projects__buttons__item{
    margin-right: 10px;
}

/* Latest projects
   Buttons
===================*/

.projects__btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 16px;

    border-radius: 5px;
    cursor: pointer;

    font-weight: 300;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.projects__btn--gold {
    border: 1px #ebebeb solid;
    background-color: #fff;
    color: #8c8c8c;
}

.projects__btn--gold:hover {
    border: 1px #ffffff solid;
    background-color: #998675;
    color: #fff;
}

.projects__btn--all {
    padding: 8px 25px;
}

/* Latest projects
   Projects
===================*/

.projects__area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}


.projects__item {
    width: 370px;
    height: 337px;
    position: relative;
    margin: 30px 2px 30px 0;
}

.projects__img {
    position: absolute;
    top: 0;
    right: 0;
}

.projects__hover {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 337px;
    position: absolute;
    top: 0;
    right: 0;

    padding-top: 106px;

    background-color: rgba(17, 17, 17, .7);
    opacity: 0;

    transition: all .2s linear;
}

.icon_link {
    display: block;
    width: 26px;
    height: 26px;

    margin-right: 28px;
    transition: all .2s linear;
}

.icon_lupa {
    display: block;
    width: 26px;
    height: 25px;

    transition: all .2s linear;
}


.project__info {
    width: 370px;
    height: 100px;

    position: absolute;
    bottom: 0;
    text-align: left;
    padding-left: 27px;

    transition: all .2s linear;
    position: absolute;
    bottom: 0;
    right: 0;
}

.arrow__figure {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    position: absolute;
    top: 227px;
    left: 37px;

    transition: all .2s linear;
}

.project__name {
    margin-top: 28px;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;

    transition: all .2s linear;
}

.project__theme {
    margin-top: 7px;
    font-weight: 300;

    transition: all .2s linear;
}


/* Latest projects
   Projects
   animation
===================*/


.projects__item:hover .projects__hover {
    opacity: 1;
}

.project__info__colored {
    background-color: #fbfaf8;
}

.projects__item:hover .project__info__colored {
    background-color: #362f2d;
}

.arrow__figure_brown {
    border-bottom: 10px solid #fbfaf8;
}

.projects__item:hover .arrow__figure_brown {
    border-bottom: 10px solid #362f2d;
}

.project__name_white {
    color: #c7b299;
}

.projects__item:hover .project__name_white {
    color: #ffff;
}


.project__theme_gold {
    color: #d1d1d1;
}

.projects__item:hover .project__theme_gold {
    color: #c7b299;
}

.icon_link_gold {
    background: url(../img/Content/Latest_Projects/link.png);
}

.icon_lupa_gold {
    background: url(../img/Content/Latest_Projects/lupa.png);
}

.icon_link_gold:hover {
    background: url(../img/Content/Latest_Projects/link-gold.png);
}

.icon_lupa_gold:hover {
    background: url(../img/Content/Latest_Projects/lupa-gold.png);
}

