.posts__elements .swiper-posts {
    width: 100%;
    height: auto;
}

.posts__elements .swiper-button-prev::after {
    display: none;
}

.posts__elements .swiper-button-next::after{
    display: none;
}


/* buttons appear only in the PC */

body._pc .posts__elements .swiper-button-prev  {
    display: block;
    height: 100%;
    position: initial;
    z-index: 1;
    margin-right: 5px;
}

body._pc .posts__elements .swiper-button-prev svg path {
    transition: all 0.1s linear;
}

body._pc .posts__elements .swiper-button-prev:hover svg path {
    fill: #c7b299;
}

body._pc .posts__elements .swiper-button-next  {
    display: block;
    height: 100%;
    position: initial;
    z-index: 1;
}

body._pc .posts__elements .swiper-button-next svg path {
    transition: all 0.1s linear;
}

body._pc .posts__elements .swiper-button-next:hover svg path {
    fill: #c7b299;
}

body._pc .posts__elements .swiper-pagination-bullet {
    background-color: #c7b299;
}

/* mobile devices have paggination only without buttons */

body._touch .posts__elements .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    line-height: 20px;
    font-size: 14px;
    background-color: #c7b299;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}