.intro-swiper {
    width: 100%;
    min-height: 500px;
    max-height: 1080px;
    height: 100vh;
}

.intro-swiper .swiper {
    max-width: 100%;
    height: 100%;
}

/* button */
.intro-swiper .swiper-button-prev {
    left: 100px;
    opacity: 0.3;
    transition: opacity .3s linear;
}

.intro-swiper .swiper-button-prev:hover {
    opacity: 1;
}

.intro-swiper .swiper-button-next {
    right: 100px;
    opacity: 0.3;
    transition: opacity .3s linear;
}

.intro-swiper .swiper-button-next:hover {
    opacity: 1;
}



.intro-swiper .swiper-button-prev::after,
.intro-swiper .swiper-button-next::after {
    color: rgb(183, 183, 183);
    font-size: 60px;
}




body._touch .intro-swiper .swiper-button-prev {
    display: none;
}

body._touch .intro-swiper .swiper-button-next {
    display: none;
}


/* pagination */

.intro-swiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    line-height: 20px;
    font-size: 14px;
    background-color: #d1d1d1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* slides */
.intro-swiper .swiper-slide.slide-1 .intro{
    background: #4b4a46 url("../img/intro-bg-1.jpg") center no-repeat;
    background-size: cover;
}

.intro-swiper .swiper-slide.slide-2 .intro{
    background: #4b4a46 url("../img/intro-bg-2.jpg") center no-repeat;
    background-size: cover;
}

.intro-swiper .swiper-slide.slide-3 .intro{
    background: #4b4a46 url("../img/intro-bg-3.jpg") center no-repeat;
    background-size: cover;
}