/* Video Presentation
===================*/

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
    background: url(../img/Content/Video/background-photo.jpg) center no-repeat;
    background-size: cover;
    padding: 0 15px;
}

.video__inner {
    text-align: center;
}

.video__playbtn {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);

    position: relative;
    margin-bottom: 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon__play {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 15px;
    left: 15px;
    background: url(../img/Content/Video/icon-play.png) center no-repeat;

    transition: all 0.2s linear;
    cursor: pointer;

}


.icon__play:hover {
    background: url(../img/Content/Video/icon-play-gold.png) center no-repeat;
}


.video__titie {
    font-weight: 500;
    color: #fff;
}


.video__subtitle {
    color: #fff;
}


.video__time {
    color: #c7b299;
    font-weight: 400;
}